/* Start Dashboard */
@font-face {
  font-family: cairo;
  src: url(../fonts/Cairo-Regular.ttf);
}

body {
  padding-bottom: 100px;
}
/* Start Login To Insta */

.login-to-insta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.login-to-insta button {
  padding: 20px;
  font-size: 15px;
  font-family: cairo,Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #FFF;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s;
}

.login-to-insta button:hover {
  color: #e1306c;
  background: transparent;
  border: 1px solid #e1306c;
}

/* End Login To Insta */

/* Start Insta Data */

.insta-details {
  width: 90%;
  margin: 30px auto 0;
  font-family: cairo,arial;
  overflow: hidden;
  padding: 80px 20px;
  background-color: #fafafa;
  border-radius: 10px;
  border: 1px solid #CCC;
}
.insta-details .profile-image {
  float: right;
  width: 25%;
}
.insta-details .profile-image img {
  width: 100%;
  border-radius: 50%;
}
.user-details {
  float: right;
  width: 70%;
  margin-right: 5%;
  text-align: right;
  margin-top: -40px;

}
.user-details p {
  font-size: 20px;
  margin-bottom: 10px;
}
.user-details p span {
  direction: rtl;
  font-weight: bold;
}

.user-control {
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
}

.user-control .refferal button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 17px;
  font-family: cairo,arial;
  cursor: pointer;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  color: #fff;
  border: 1px solid transparent;
  transition: all .3s;
  border-radius: 10px;

}
.user-control .refferal button:hover {
  background: transparent;
  color: #e1306c;
  border: 1px solid #e1306c;
}
/* End Insta Data */

/* End Dashboard */