/* Start Dashboard */
@font-face {
  font-family: cairo;
  src: url(../fonts/Cairo-Regular.ttf);
}

/* body {
  margin-bottom: 200px;
  overflow: hidden;
} */

.seperator {
  width: 95%;
  height: 4px;
  margin: 50px auto;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  border-radius: 5px;
}

/* Start Login To Insta */

.login-to-insta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.login-to-insta button {
  padding: 20px;
  font-size: 15px;
  font-family: cairo,Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #FFF;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s;
}

.login-to-insta button:hover {
  color: #e1306c;
  background: transparent;
  border: 1px solid #e1306c;
}

/* End Login To Insta */

/* Start Insta Data */

.insta-details {
  width: 90%;
  margin: 30px auto 0;
  font-family: cairo,arial;
  overflow: hidden;
  padding: 80px 20px;
  background-color: #fafafa;
  border-radius: 10px;
  border: 1px solid #CCC;
}
.insta-details .profile-image {
  float: right;
  width: 25%;
}
.insta-details .profile-image img {
  width: 100%;
  border-radius: 50%;
}
.user-details {
  float: right;
  width: 70%;
  margin-right: 5%;
  text-align: right;
  margin-top: -40px;

}
.user-details p {
  font-size: 20px;
  margin-bottom: 10px;
}
.user-details p span {
  direction: rtl;
  font-weight: bold;
}

.user-control {
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
}

.user-control .refferal button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 17px;
  font-family: cairo,arial;
  cursor: pointer;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  color: #fff;
  border: 1px solid transparent;
  transition: all .3s;
  border-radius: 10px;

}
.user-control .refferal button:hover {
  background: transparent;
  color: #e1306c;
  border: 1px solid #e1306c;
}
/* End Insta Data */

/* Start Gain Coins */

.gain-coins {
  width: 95%;
  text-align: center;
  font-family: cairo,arial;
  margin: auto;
}

.gain-coins .head {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.gain-coins .u-datails .image {
  width: 45%;
  margin: 20px auto;
}

.gain-coins .u-datails .image img {
  width: 60%;
  border-radius: 50%;
}

.u-datails .name {
  font-weight: bold;
  font-family: cairo,arial;
  margin-bottom: 20px;
  font-size: 18px;
}

.gain-coins .action button {
  display: block;
  margin: 10px auto;
  padding: 5px 80px;
  font-size: 18px;
  font-family: cairo,arial;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 20px;
  border: 1px solid #e1306c;
  transition: all .3s;
}

.gain-coins .action button:hover {
  background: transparent;
  color: #e1306c;
  border: 1px solid #e1306c;
}

.gain-coins {
  position: relative;
  height: 600px;
}

.follow-box {
  background-color: #fff;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #e1306c;
  border-radius: 20px;
  padding: 30px 20px;
}

/* End Gain Coins */

/* End Dashboard */